.update-button {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #EF6236;
  border: 2px solid #EF6236;
  padding: 1em 0.5em;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 17px;
  border-radius: 10px;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}
