.cities-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #FAF6E8;
  font-family: Helvetica;
}

.cities-list-container {
  margin-bottom: 3em;
}

.city-image-container {
  width: 100%;
  height: 324px;
  position: absolute;
  z-index: 1;
  opacity: 0.85;
  background: rgba(247, 191, 77, 0.87);
}
.cities-header-container {
  padding: 2.2em 0 1.5em;
  border-bottom: 1px #DDD solid;
  margin-bottom: 1.5em;
  text-align: center;
  color: #5C5C5C;
}

.current-cities-container {
  column-count: 3;
}

.cities-title {
  margin-bottom: 18px;
  font-size: 2.35em;
  font-family: Helvetica;
}
.city-name {
  position: relative;
  text-align: center;
  top: 100px;
  color: white;
  z-index: 1;
  opacity: 0.9;
  font-size: 26px;

  &:hover {
    text-decoration: underline;
  }
}
.city_image {
  background-color: rgba(247,191,77, 0.8);
  width: 312.5px;
  height: 160px;
}

.city-index-image {
  width: 312.5px;
  height: 160px;
  opacity: 0.5;
}

.cities-partial {
  margin-bottom: 1em;
  text-align: center;
}

.cities-subtitle {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #EF6236;
}
.cities-p {
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-left: 12px;
  margin-bottom: 0.45em;
}
.cities-sub-p {
  font-weight: 400;
  color: #333;
}

.cities-section-p {
  font-weight: 400;
  color: #333;
  width: 665px;
  font-size: 17px;
  text-align: left;
}

.cities-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.cities-section-p {
  font-weight: 400;
  color: #333;
  margin-left: 25px;
}

.cities-section-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button {
  width: 645px;
  text-align: center;
  color: white;
  background-color: #EF6236;
  border: 2px solid #EF6236;
  padding: 1em 0;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 17px;
  border-radius: 10px;
  line-height: normal;
}

.suggested-list {
  color: #EF6236;
  font-weight: 400;
  font-size: 17px;
  list-style-type: none;
  margin-bottom: 30px;
}

.suggest-city-list {
  width: 984px;
  margin-top: 16px;
  text-align: center;
  column-count: 4;
}

.suggest-city-list-item {
  padding: 1em 0.8em;
}
