.dashboard-body-container {
  display: flex;
  flex-direction: column;
  background-color: #FAF6E8;
}

.dashboard-container {
  font-weight: 400;
  line-height: 1.625;
  text-align: center;
}

.dashboard-header {
  display: flex;
  flex-wrap: wrap;
  font-family: Helvetica;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 0.75em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
}

.dashboard-element {
  outline: 1px solid #5C5C5C;
  flex-grow: 1;
}
.link {
  background: white;
  
    &:hover {
      color: white;
      background-color: #EF6236;
    }
}

.myButton:active {
	position:relative;
	top:1px;
}
