a.city-button {
    box-shadow: rgb(252, 226, 193) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(255, 196, 119) 5%, rgb(250, 150, 27) 100%) rgb(255, 196, 119);
    border-radius: 6px;
    border: 1px solid rgb(238, 180, 79);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: rgb(204, 159, 82) 0px 1px 0px;
}

a.city-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background: -moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background: -webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background: -o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background: -ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
    background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
    background-color: #fb9e25;
}

.current-event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-item-container {
  width: 15em;
  height: 25em;
  border: 1px solid #5C5C5C;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  font-weight: 400;
}

.event-item-head {
  display: flex;
  align-items: center;
  margin-right: 0.7em;
}

.event-host {
  margin-bottom: 0.25em;
}

.host {
  text-align: center;
}

.host-pic {
  width: 125px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.date-time {
  margin-top: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 7.5em;
  width: 5.5em;
}

.event-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
}

.event-spots-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95px;
  width: 300px;
  line-height: 40px;
  border-top: 1px solid black;
  justify-content: center;
}

.event-spots {
  background: url("https://s3.us-east-2.amazonaws.com/readtheleaves1-dev/images/leaf-black.png") repeat-x;
  font-size: 0;
  height: 50px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 250px;
}

.event-spots .spots-left {
  background: url("https://s3.us-east-2.amazonaws.com/readtheleaves1-dev/images/leaf-green.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 50px;
}

.event-item-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background: -moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: -ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
  background-color: #77d42a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  // text-shadow: 0px 1px 0px #aade7c;
  margin: 0 0.75em;
}

.event-item-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background: -moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: -ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
  background-color: #5cb811;
}

.event-item-button:active {
  position: relative;
  top: 1px;
}

a.host-link {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color: #dfdfdf;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 19px;
    /* font-weight: bold; */
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

a.host-link:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color: #ededed;
}
