.footer {
  background-color: #F7BF4D;
  // height: 38.5vh;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.footer-container {
  display: flex;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  display: flex;
  font-size: 19px;
  flex-direction: column;
  line-height: 26px;
  padding-left: 4.375em;
  padding-right: 8.75em;
  color: white;
  font-family: Helvetica;
  font-weight: 400;
}

.footer-about {
  width: 564px;
  font-weight: 100;
  font-family: Helvetica;
  color: white;
  line-height: 1.625;
  font-size: 18px;
  letter-spacing: 0.52px;
}

.footer-p {
  margin-bottom: 0.825em;
}
