.footer {
  background-color: #F7BF4D;
  display: flex;
  overflow: auto;
  padding: 2em 0;
}

.footer-container-1 {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.footer-container {
  display: flex;
  width: 83%;
  margin-left: 8.53%;
}
.footer-links {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-right: 2.85%;
  width: 28%;
  font-size: 18px;
  line-height: 1.625;
  color: white;
  font-weight: 500;
}

.footer-about {

}

.footer-p {
  font-weight: 100;
  margin-bottom: 10px;
}
