.main-content {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  font-family: Helvetica;
}

.pitch-container{
  background: rgba(247,191,77,0.87);
  display: flex;
  justify-content: center;
  padding: 110px;
  color: white;
}

.jumbotron {
  background: image-url('teatime.jpg') no-repeat center center;
  height: 593px;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.pitch-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
}

.pitch-text {
  margin-bottom: 19px;
  font-weight: 600;
  width: 700px;
  font-size: 2.25em;
  text-align: center;
}

.pitch-p {
  margin-bottom: 40px;
  font-size: 1.125em;
  font-weight: 100;
}

.top-signup-button {
  text-align: center;
  width: 350px;
  background-color: #EF6236;
  border: 2px solid #EF6236;
  font-weight: 400;
  border-radius: 10px;
  font-size: 18px;
  padding: 1em 1.5em;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  border: 2px;
}

.about-container {
  display: flex;
  justify-content: center;
  background: #F3ECCE;
  text-align: center;
  padding: 2.3em 1em;
  margin-bottom: 3em;
}

.about-item-container {
  display: flex;
  justify-content: center;
  width: 1140px;
}
.about-part {
  margin-right: 31px;
  width: 33%;
 }

.about-headline {
  color: #EF6236;
  margin-bottom: 9px;
  font-size: 1.25em;
  font-weight: 600;
}

.about-text {
  color: black;
  font-weight: 200;
}

.h2 {
  color: #EF6236;
  font-size: 1.25em;
  font-weight: 600;
}


.upper-body-container {
  max-width: 1020px;
  margin: 0 auto;
}

.why {
  display: flex;
  flex-direction: column;
}

.why-title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
  font-family: Helvetica;
  font-size: 0.91em;
}

.why-explain {
  display: flex;
  align-items: center;
  margin: 36px;
  justify-content: space-around;
}

.mainpage-image {
  width: 313px;
}

.why-explain-right {
  width: 396.45px;
  height: 210.625px;
  margin-top: 30px;
  padding-right: 6px;
}

.why-explain-left {
  width: 396.45px;
  height: 210.625px;
  margin-top: 30px;
  padding-right: 6px;
}

.why-explain-header {
  margin-bottom: 18px;
}

.p {
  color: black;
  font-weight: 400;
  line-height: 1.625;
  font-size: 17px;
}

.body-signup {
  background: #F3ECCE;
  width: 100%;
}

.body-sign-box {
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
  align-items: center;
}

.signup-h2 {
  color: #5C5C5C;
  font-size: 1.70em;
  margin-bottom: 29px;
  margin-top: 3px;
}

.body-signup-button {
  width: 540px;
  text-align: center;
  color: white;
  background-color: #EF6236;
  border: 2px solid #EF6236;
  padding: 1em 0;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 17px;
  border-radius: 10px;
  line-height: normal;
}

.lower-body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonials {
  display: flex;
  justify-content: center;
      margin-top: 3.5em;
  margin-bottom: 1.625em;
}

.quotes {
  display: flex;
  width: 984px;
  font-weight: 400;
  justify-content: center;
}

.quote {
  padding: 0.5em 2.5em 0.5em 1.25em;
  border-right: 0.5em solid #fcebc7;
  border-left: 0.5em solid #fcebc7;
  text-align: left;
  font-size: 15.5px;
  width: 331.66px;
  color: #595959;
  line-height: 1.625;
}

.quote-bold {
  color: rgb(239, 98, 54);
  font-weight: 600;
}

.img2 {
  margin-left: 40px;
}

.stranger-title {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 1em;
}

.stranger-story {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
}

.stranger-right {
  margin-left: 42px;
  width: 396px;
  height: 450px;
  line-height: 1.625;
  font-weight: 400;
}

.stranger-p {
  margin-bottom: 0.8125em;
  font-size: 18px;
}

.img3 {
  width: 354.5px;
  height: 322.33px;
  padding-bottom: 6em;
}
