.header {
  max-width: 100%;
  background: rgba(247,191,77,0.87);
}

.navbar-container {
  max-width: 1020px;
  padding-top: 1em;
  display: flex;
  padding-bottom: 1em;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 420px;
  height: 40px;
}
//
.nav-item {
  display: flex;
  align-items: center;
  padding:0 9px;
  letter-spacing: 1px;
  font-size: 0.75em;
  font-weight: 500;
  height: 40px;
}

.nav-signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #F7BF4D;
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 8px;
  padding: 0 18px;
  transition: .3s;
}
//
.nav-signup-button:hover {
  background-color: Transparent;
  color: white;
}
// .navbar-container{
//   display: flex;
//   justify-content: flex-end;
//   padding: 18px;
//   background-color: #F7BF4D
// }
//
// .nav-links {
//   font-family: Helevetica Neue;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   letter-spacing: 1px;
//   font-weight: 500;
//   width:495px;
//   height: 40px;
//   color: white;
// }
//
// .nav-item {
//   padding-left: 18px;
// }
//
// .nav-button {
//
// }
//
// .nav-signup-button {
//
// }
