@font-face {
  font-family: 'NanumPenScript-Regular';
  src:font-url('NanumPenScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(247, 191, 77, 0.95);
  color: white;
  height: 4.5em;
}

.logo-container {
  margin-left: 2em;
    .logo-text {
      font-family: 'NanumPenScript-Regular';
      font-size: 1.5em;
    }
}

.fa-lg {
  vertical-align: 0% !important;
}

.nav-links {
  display: flex;
  font-size: 0.75em;
  align-items: center;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.25px;
  margin-right: 2em;
}

.nav-item {
  margin: 0 0.5em;
}

.nav-signup-button {
  background-color: white;
  color: #F7BF4D;
  border: 1px solid white;
  border-radius: 3px;
  padding: .95em 1.25em;
  transition: .3s;
  &:hover {
    background-color: transparent;
    color: white;
  }
}
